.App {
  text-align: center;

  height: 100vh;
  background-color: slategrey;
  background-image: url("background2.png");
  border-radius: 50px;
  box-shadow: 10px 10px 10px 10px rgb(67, 121, 182);
}

 .scroll-bg {
  width: 400px;
}

.scroll-div{
  width: 400px;
  height:100vh;
  overflow: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(130, 189, 204); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background:rgb(35, 139, 199); 
}

/* .row-border{
  border: solid 1px black;
} */
.foot-border{
  max-width: 245px;
}
.header-border{
  max-width: 250px;
}


